[project]
	description = Web interface for SkyRing
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Soumya Deb (debloper)
[access "refs/for/refs/*"]
	read = group user/Soumya Deb (debloper)
	push = group user/Soumya Deb (debloper)
	label-Code-Review = -2..+2 group user/Soumya Deb (debloper)
	label-Verified = -1..+1 group user/Soumya Deb (debloper)
	rebase = group user/Soumya Deb (debloper)
	removeReviewer = group user/Soumya Deb (debloper)
	submit = group user/Soumya Deb (debloper)
[access "refs/heads/*"]
	read = group user/Soumya Deb (debloper)
	create = group user/Soumya Deb (debloper)
	push = +force group user/Soumya Deb (debloper)
	pushMerge = group user/Soumya Deb (debloper)
[access "refs/tags/*"]
	push = +force group user/Soumya Deb (debloper)
	pushTag = group user/Soumya Deb (debloper)
	pushSignedTag = group user/Soumya Deb (debloper)
